  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h4 class="mt-4 pt-2">Powered by: AlphaVantage CO.</h4></div>
        <div class="col-4"></div>
      </div>
    </div>
  </footer>
