<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Market</title>
    <%-include('../partials/source.ejs')%>
    <link rel="stylesheet" href="/home/home.css">
    <script src="/home/home.js" type="text/javascript"></script>
  </head>
  <body>
    <%-include('../partials/navbar')%>
    <div class="container-fluid" id="home__page">
      <div class="loader"></div>
      <div class="row ">
        <div class="col">
          <div id="Facebook">

          </div>
        </div>
      </div>


      <div class="row ">
        <div class="col">
          <div id="Microsoft">

          </div>
        </div>
        <div class="col">
          <div id="Apple">

          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col">
          <div id="Tesla">

          </div>
        </div>
        <div class="col">
          <div id="Amazon">

          </div>
        </div>
      </div>
    </div>
    <%-include('../partials/footer')%>
  </body>
</html>
