<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Market</title>
    <%-include('../partials/source.ejs')%>
    <link rel="stylesheet" href="/home/home.css">
    <script src="/home/home.js" type="text/javascript"></script>
  </head>
  <body>
    <%-include('../partials/navbar')%>
    <div class="container-fluid" id="home__page">
      <div class="loader"></div>
      <div class="row ">
        <!--unforutuantely passing they key value in the javascript functions to present the routes is really buggy in plotlyjs, so I must hardcode it -->
        <div class="col text-center">
          <a id="top-link" class="links" href='/facebook'>Facebook</a>
          <div id="Facebook">

          </div>
        </div>
      </div>


      <div class="row ">
        <div class="col text-center">
          <a class="links" href='/microsoft'>Microsoft</a>
          <div id="Microsoft">

          </div>
        </div>
        <div class="col text-center">
          <a class="links" href='/apple'>Apple</a>
          <div id="Apple">

          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col text-center">
          <a class="links" href='/tesla'>Tesla</a>
          <div id="Tesla">

          </div>
        </div>
        <div class="col text-center">
          <a class="links" href='/amazon'>Amazon</a>
          <div id="Amazon">

          </div>
        </div>
      </div>
    </div>
    <%-include('../partials/footer')%>
  </body>
</html>
